<h1 class="show-card-name">{{cardName}}</h1>
<div *ngIf="showEmptyChecklist===true" class="no-checklists">  <!-- If no checklists, show error-->
    ** No checklists **
</div>


<div *ngFor="let checklist of checklists$" class="checklists">
    <h2>{{checklist.name}}</h2>
    <div *ngFor="let checkitem of checklist.checkItems" > 
        <input 
            type="checkbox" 
            [checked]="checkitem.state === 'complete' ? true : false" 
            (change)="updateCheckitem(checkitem.id, checkitem.state)"
        >
        <span [ngClass]="{'completed': checkitem.state === 'complete' ? true : false}">{{checkitem.name}}</span>
        <button 
            class="remove-item" 
            (click)="deleteCheckitem(checkitem.id)"
        >
           DELETE
        </button>
    </div>
    <div>
        <input #newCheckitemInput type="text">
        <button (click)="inputNewCheckitemName(newCheckitemInput.value); addCheckitem(checklist.id); newCheckitemInput.value=''">Add</button>
    </div>
</div>