<div *ngFor="let card of cards$">
    <div class="each-card">
        
        <div *ngIf="!card.editing; else editingCard"> <!-- editing mode off-->
            <a routerLink="/checklists/{{card.id}}/{{card.name}}"> {{card.name}} </a>
            <span (click)="enableEditCard(card)">Edit</span>
        </div>
       
        <ng-template #editingCard>   <!-- editing mode on -->
            <div>
                <input type="text" [(ngModel)]="card.name" (keyup.enter)="editCard(card); disableEditCard(card)" (value)="abcd">
                <button (click)="editCard(card); disableEditCard(card)">Save</button>
            </div>
        </ng-template>
        <span (click)="deleteCard(card.id)" class="deleteCard">X..</span>
    </div>
</div>

<div class="add-card">
    <p (click)="toggleShowAddCardDescription()">+ Add another card</p>
    <div *ngIf="showAddCardDescription">
        <input #newCardInput [(ngModel)]="newCardName" type="text">
        <br />
        <button (click)="addNewCard(); newCardInput.value='' ">Add Card</button>
        X
    </div>    
</div>
