<div *ngFor="let card of cards$" class="theCards">
    <div class="each-card">
        <div *ngIf="!card.editing; else editingCard" class="card-name"> <!-- editing mode off-->
            <h3 class="card-border"><a routerLink="/checklists/{{card.id}}/{{card.name}}"> {{card.name}} </a></h3>
            <button (click)="enableEditCard(card)">Edit</button>
            <button (click)="deleteCard(card.id)" class="deleteCard">X</button>
        </div>
       
        <ng-template #editingCard>   <!-- editing mode on -->
            <div class="edit-mode-on">
                <input type="text" [(ngModel)]="card.name" (keyup.enter)="editCard(card); disableEditCard(card)" (value)="abcd">
                <button (click)="editCard(card); disableEditCard(card)">Save</button>
            </div>
        </ng-template>
    </div>
</div>

<div class="add-card">
    <button (click)="toggleShowAddCardDescription()">+ Add another card</button>

    <div *ngIf="showAddCardDescription">
        <input #newCardInput [(ngModel)]="newCard.name" type="text">
        <br />
        <button (click)="addNewCard(); newCardInput.value='' ">Add Card</button>
    </div>    
</div>
